<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainlayout}">
<head>
    <title>Shopping</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3 d-flex justify-content-center">
        <h2>상품 상세보기</h2>
    </div>
    <div class="container mt-3 d-flex justify-content-center">
        <div class="card" style="width:400px">
            <img class="card-img-top" th:src="|/images/item/@{${productDTO.img}}|" alt="상품 이미지" style="width:100%">
            <div class="card-body">
                <h4 class="card-title" th:text="${productDTO.product}">노트북</h4>
                <span class="badge rounded-pill bg-primary">
                    <span th:if="${productDTO.state==1}">신상품</span>
                    <span th:if="${productDTO.state==2}">판매상품</span>
                    <span th:if="${productDTO.state==3}">재고품</span>
                </span>
                <span class="badge rounded-pill bg-success">
                    <span th:if="${productDTO.sale==1}">정상판매</span>
                    <span th:if="${productDTO.sale==2}">세일판매</span>
                </span>
                <p class="card-text" th:text="${productDTO.detail}">좋은 노트북</p>
                <p class="card-text">가격 : <span th:text="${productDTO.price}">1200</span></p>
                <p class="card-text">재고량 : <span th:text="${productDTO.quantity}">5</span></p>
                <a href="#" class="btn btn-primary">장바구니</a>
                <a href="#" class="btn btn-secondary">구매하기</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>