<!DOCTYPE html>
<html lang="en">
<!--<div th:replace = "fragment/menu ::header" <=> "header">-->
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">ProductM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <!--http://localhost:8080/board -> productm/list => http://localhost:8080/board/sangpum/list-->
                    <!--http://localhost:8080/board -> /productm/list => http://localhost:8080/sangpum/list-->
                    <li class="nav-item dropdown">  <!-- root에서부터 시작, productm/ -> 현재위치에서부터-->
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">상품관리</a>
                        <ul class="dropdown-menu"><!--href= 매핑명 /매핑명-->
                            <li><a class="dropdown-item" th:href="@{/productm-list}">상품목록</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">회원관리</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</div>
</html>