<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<!--디자인할때는 thymeleaf 헤더 추가-->
<head>
    <title>title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<div layout:fragment="content">
    <!--본문-->
    <!--범위지정-->
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <!--등록 바깥여백(M)-1~5까지 t-위쪽, b-아래쪽-->
            <div class="text-end mt-3">
                <button type="button" class="btn btn-primary"
                th:onclick="|location.href='@{/article/register}'|">게시글 등록</button>
            </div>
            <!--등록끝-->
            <!--목록-->

            <div class="container mt-3">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>수정일</th>
                        <th>조회수</th>
                   </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${articleDTOS}">    <!--반복처리 Controller에서 전달되는 값을 확인-->
                        <td th:text="${data.id}">1</td>
                        <td><a th:href="@{/article/read(id=${data.id})}" th:text="${data.title}">연습용</a></td>
                        <td th:text="${#temporals.format(data.modDate,'yyyy-MM-dd')}">2023-01-01</td>
                        <td th:text="${data.viewcnt}">5</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--목록끝-->


            <!--페이지-->

            <ul class="pagination">
                <!--startPage가 1번 페이지가 아니면 나타낸다-->
                <li class="page-item" th:unless="${currentPage==1}">
                    <a class="page-link" th:href="@{/article/list(page=1)}">첫페이지</a>
                </li>

                <li class="page-item" th:unless="${currentPage==1}">  <!--이전페이지 이동-->
                    <a class="page-link" th:href="@{/article/list(page=${prevPage})}">이전</a>
                </li>

                <span th:each="page:${#numbers.sequence(startPage, endPage)}">
                    <li class="page-item" th:unless="${page==currentPage}"> <!--현재페이지가 아니면-->
                        <a class="page-link" th:href="@{/article/list(page=${page})}">[[${page}]]</a>
                    </li>
                    <li class="page-item active" th:if="${page==currentPage}"> <!--현재페이지 이면-->
                        <a class="page-link" href="#">[[${page}]]</a>
                    </li>
                </span>

                <li class="page-item" th:unless="${currentPage==lastPage}">  <!--다음페이지 이동-->
                    <a class="page-link" th:href="@{/article/list(page=${nextPage})}">다음</a>
                </li>

                <li class="page-item" th:unless="${currentPage==lastPage}">
                    <a class="page-link" th:href="@{/article/list(page=${lastPage})}">끝페이지</a>
                </li>
            </ul>

            <!--페이지 끝-->
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>


</html>
