<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainlayout}">
<head>
    <title>Shopping</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3 text-center">
        <h2>상품 등록</h2>
    </div>
    <div class="container mt-3 d-flex justify-content-center">
        <form th:action="@{/product/register}" method="post" style="width: 500px"
              th:object="${productDTO}" enctype="multipart/form-data">
            <div class="mb-1 mt-3">
                <label for="product" class="form-label">상품명:</label>
                <input type="text" class="form-control" id="product" name="product" th:field="*{product}">
                <p class="text-danger" th:if="${#fields.hasErrors('product')}" th:errors="*{product}"></p>
            </div>
            <div class="mb-1">
                <label for="detail" class="form-label">상품,설명:</label>
                <textarea class="form-control" rows="5" id="detail" name="detail" th:field="*{detail}"></textarea>
            </div>
            <div class="mb-1">
                <label for="img" class="form-label">상품이미지:</label>
                <input type="file" class="form-control" id="img" name="imgFile">
            </div>
            <div class="mb-1">
                <label for="price" class="form-label">가격:</label>
                <input type="number" class="form-control" id="price" name="price" th:field="*{price}">
            </div>
            <div class="mb-1">
                <label for="quantity" class="form-label">재고량:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" th:field="*{quantity}">
            </div>
            <div class="mb-1">
                <label for="state" class="form-label">상태:</label>
                <select class="form-select" id="state" name="state" th:field="*{state}">
                    <option value="1">신상품</option>
                    <option value="2">판매상품</option>
                    <option value="3">재고품</option>
                </select>
            </div>
            <div class="mb-1">
                <label for="sale" class="form-label">세일:</label>
                <select class="form-select" id="sale" name="sale" th:field="*{sale}">
                    <option value="1">정상판매</option>
                    <option value="2">세일판매</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>

</div>
</body>
</html>