<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <div class="container mt-3">
                <h2>게시물 등록</h2>
                <form th:action="@{notes-insert}" method="post">
                    <div class="mb-3 mt-3">
                        <label for="cpassword">비밀번호:</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="cname">이름:</label>
                        <input type="text" class="form-control" id="cname" name="cname">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="cemail">이메일:</label>
                        <input type="email" class="form-control" id="cemail" name="cemail">
                    </div>
                    <button type="submit" class="btn btn-primary">등록</button>
                    <a th:href="@{/}">
                        <button type="button" class="btn btn-primary">나가기</button>
                    </a>
                </form>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>

</div>

</html>