<!DOCTYPE html>
<!--작업페이지는 레이아웃을 가져와서 사용-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/guestlayout}">

<body>
    <div layout:fragment="content">
        <div class="row">   <!--행-->
            <div class="col-lg-2"></div>    <!--여백-->
            <div class="col-lg-8">  <!--작업공간-->

            </div><!--col 끝-->
            <div class="col-lg-2"></div>    <!--여백-->
        </div>  <!--row 끝-->
    </div>  <!--conntent끝-->
</body>
</html>