<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
오브젝트(DTO)를 이용해서 Map, List 형식으로 값을 전달 <br>
배열은 값만 연속적으로 저장 <br>
Map(List)은 키와 값으로 연속적으로 저장 (키 - 변수, 값) <br>
여러 변수를 하나의 덩어리로 전달을 할 때 사용(레코드 단위) <br>
오브젝트로 전달받은 값은 오브젝트명.변수명으로 사용 <br><br><br>

아이템명 : <span th:text="${itemDTO.itemNm}"></span><br>
가격 : [[${itemDTO.price}]]<br>
설명 : <input type="text" th:value="${itemDTO.itemDetail}"><br><br>

오류 코드 : <br>
404 페이지 연결실패 : return "파일명"이 없거나 위치가 잘못 지정된 경우
500 HTML에서 값 참조가 잘못된 경우, 주고받는 변수명이 잘못 지정되거나 없는 경우
</body>
</html>