<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h2>TODO 등록</h2>


                <form action="/todo-insert" method="post">
                    <div class="mb-3 mt-3">
                        <label for="ltitle">제목:</label>
                        <input type="text" class="form-control" id="ltitle" name="ltitle">
                    </div>
                    <div class="mb-3">
                        <label for="lcontent">내용:</label>
                        <textarea class="form-control" name="lcontent" id="lcontent" rows="5"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="limpt" class="form-label">중요도</label>
                        <select class="form-select" id="limpt" name="limpt">
                            <option value="1">Low(낮음)</option>
                            <option value="2">Medium(보통)</option>
                            <option value="3">High(높음)</option>
                        </select>
                    </div>
                    <div class="row mb-4">
                        <div class="col-lg-6">
                            <div>
                                <label for="fterm">시작기간:</label>
                                <input type="date" class="form-control" id="fterm" name="fterm">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <label for="lterm">마감기간:</label>
                                <input type="date" class="form-control" id="lterm" name="lterm">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">등록</button>
                    <button type="reset" class="btn btn-danger">초기화</button>
                </form>

            </div>
            <div class="col-lg-3"></div>
        </div>

    </div>

</div>


</html>
