<!DOCTYPE html>
<!--index에서 레이아웃을 적용한 후 모든 작업파일에 index를 복사해서 사용-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">    <!--적용 레이아웃을 지정-->
<head>
    <title>paging</title>   <!--부트스트랩 CSS, javascript 지정-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <!--내용을 구성-->
    <div class="container mt-3">
        <h2>기본 게시판</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr><!--임의의 값으로 틀을 만든다-->
                <td>1</td>
                <td>연습</td>
                <td>홍길동</td>
                <td>12</td>
                <td>2023-10-25</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>