<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content">

    <div class="container mt-3">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>아이디</th>
                <th>비밀번호</th>
                <th>이름</th>
                <th>이메일</th>
                <th>가입일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data:${lists}">
                <td>
                    <a th:href="@{cmanage-view(cid=${data.cid})}">
                        [[${data.cid}]]
                    </a>
                </td>
                <td>[[${data.cpassword}]]</td>
                <td>[[${data.cname}]]</td>
                <td>[[${data.cemail}]]</td>
                <td>[[${#temporals.format(data.regdate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</html>