<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/basic}">
<!--layout:decorate=사용할 레이아웃을 지정-->

<!--본문에 적용할 조각을 작성-->
<!--basic.html레이아웃에 content에 들어갈 조각-->
<div layout:fragment="content">
    <!--상세보기 등에 활용하므로 오려두기가 아닌 복사해서 사용-->
    <div class="row mt-3"><!--행 mt- 위쪽여백-->
        <div class="col">   <!--열-->
            <div class="card"> <!--카드형식-->
                <div class="card-header">게시글 수정하기</div>
                <div class="card-body">
                    <!--Form 양식을 이용해서 입력폼<input추가>상세보기<input추가>/수정하기-->
                    <!--name은 차후 DTO 설계 후 지정하므로 임시로 지정-->
                    <!--수정폼은 입력폼과 동일하게, 단 번호 (기본키 필요함)-->
                    <form action="#">
                        <div class="mb-3 mt-3">
                            <label class="form-label">번호:</label>
                            <input type="text" class="form-control"  name="email" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">제목:</label>
                            <input type="text" class="form-control"  name="email" >
                        </div>
                        <div class="mb-3">
                            <label class="form-label">내용:</label>
                            <textarea class="form-control" name="content" rows="5" style="resize: none"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">작성자:</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <button type="submit" class="btn btn-primary">수정하기</button>
                        <button type="submit" class="btn btn-secondary">목록으로</button>
                        <button type="submit" class="btn btn-danger">삭제하기</button>
                    </form>
                </div>
            </div>  <!--card-->
        </div> <!--col-->
    </div><!--row-->
</div>
</html>
<!--Controller에서 매핑으로 레이아웃 결과를 확인-->