<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/basic}">
<!--layout:decorate=사용할 레이아웃을 지정-->

<!--본문에 적용할 조각을 작성-->
<!--basic.html레이아웃에 content에 들어갈 조각-->
<div layout:fragment="content">
    <!--상세보기 등에 활용하므로 오려두기가 아닌 복사해서 사용-->
    <div class="row mt-3"><!--행 mt- 위쪽여백-->
        <div class="col">   <!--열-->
            <div class="card"> <!--카드형식-->
                <div class="card-header">게시글 수정하기</div>
                <div class="card-body">
                    <!--Form 양식을 이용해서 입력폼<input추가>상세보기<input추가>/수정하기-->
                    <!--name은 차후 DTO 설계 후 지정하므로 임시로 지정-->
                    <!--수정폼은 입력폼과 동일하게, 단 번호 (기본키 필요함)-->
                    <!--스크립트로 태그에 접근할 때는 class나 id로 접근-->
                    <form action="/guestbook/modify" method="post" id="form1">
                        <!--페이지 정보, 수정후에 목록의 상태를 유지하기 위해서-->
                        <input type="hidden" name="page" th:value="${requestDTO.page}">
                        <input type="hidden" name="type" th:value="${requestDTO.type}">
                        <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
                        <div class="mb-3 mt-3">
                            <label class="form-label">번호:</label>
                            <input type="text" class="form-control"  name="gno" th:value="${dto.gno}" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">제목:</label>
                            <input type="text" class="form-control"  name="title" th:value="${dto.title}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">내용:</label>
                            <textarea class="form-control" name="content" rows="5" style="resize: none">[[${dto.content}]]</textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">작성자:</label>
                            <input type="text" class="form-control" name="writer" th:value="${dto.writer}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">작성일자:</label>
                            <input type="text" class="form-control"
                                   th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">수정일자:</label>
                            <input type="text" class="form-control"
                                   th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                        </div>
                        <button type="submit" class="btn btn-primary" onclick="modifyBtn()">수정하기</button>
                        <button type="submit" class="btn btn-secondary" onclick="listBtn()">목록으로</button>
                        <button type="submit" class="btn btn-danger" onclick="removeBtn()">삭제하기</button>
                    </form>
                </div>
            </div>  <!--card-->
        </div> <!--col-->
    </div><!--row-->
    <!--본문 안에 위치시켜야 인식이 잘된다.-->
    <!--document-자바스크립트, .id나 #클래스를 이용해서 ajak-->
    <script type="text/javascript">
        const actionForm = document.getElementById("form1");    //페이지에서 form1이름의 id를 찾는다
        function removeBtn(){   //삭제 작업용 메소드.... function 선언된 메소드를 이용할 때는 onclick을 이용
            if(!confirm("삭제하시겠습니까?")){  //메세지상자에서 아니요 버튼을 누르먄
                return; //수정취소
            }
            actionForm.method = "post"; //메소드를 post로 변경
            actionForm.action = "/guestbook/remove";    //매핑주소를 remove변경
            actionForm.submit(); //전송
        }
        function modifyBtn(){   //수정 작업용 메소드
            if(!confirm("수정하시겠습니까?")){  //메세지상자에서 아니요 버튼을 누르먄
                return; //수정취소
            }
            //예버튼을 누르면
            actionForm.method = "post";
            actionForm.action = "/guestbook/modify";
            actionForm.submit();
        }
        function listBtn(){
            actionForm.action="/guestbook/list";
            actionForm.method="get";
            actionForm.submit();

        }
    </script>
</div>
</html>
<!--Controller에서 매핑으로 레이아웃 결과를 확인-->