<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainlayout}">
<head>
    <title>Shopping</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <h2>상품 목록</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>이미지</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고량</th>
                <th>등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data:${productDTOS}">
                <td><img th:src="|/images/item/@{${data.img}}|" width="150" height="100"></td>
                <td><a th:href="@{/product/productdetail(pid=${data.pid})}" th:text="${data.product}">노트북</a><br><span class="badge rounded-pill bg-primary">
                    <span th:if="${data.state==1}">신상품</span>
                    <span th:if="${data.state==2}">판매상품</span>
                    <span th:if="${data.state==3}">재고품</span>
                </span>
                    <span class="badge rounded-pill bg-success">
                        <span th:if="${data.sale==1}">정상판매</span>
                    <span th:if="${data.sale==2}">세일판매</span>
                    </span></td>
                <td th:text="${data.price}">12000</td>
                <td th:text="${data.quantity}">12</td>
                <td th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd')}">2023-10-13</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>